{% extends 'base.html' %}

{% block content %}
<div class = "bg-image d-flex flex-column justify-content-center">
    <div class = "container emplist_container">
        <div class="table-responsive">
            <table class="table">
            <h1 class = "head mt-3 ml-3">Employee Details</h1>    
            <thead>
                <tr class = "emplist_headbar">
                    <th>No of Employees</th>
                    <th>No of Employees Active</th>
                </tr>
            </thead>
            <tbody>
                <tr class = "emplist_content ml-3">
                    <td>{{emplist|length}}</td>
                    <td>{{Active_count}}</td> 
                    
                </tr>
                
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}